// =============================================
// Expense Tracker - client/pages/homepage
// =============================================
.homePage{

  height: auto;
  width: 100%;
  background: #FFF;
  @include opacity(0.8);
  z-index: 0;

  &:before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    //background: url('./assets/images/background_1.jpg') no-repeat center center fixed;

    height: 100%;
    width: 100%;

  }

  &-form{
    margin-top: 40px;
    background: $color-mono-xxxlight;
    opacity: 0.8;
    height: 400px;
  }
}
