// =============================================
// Expense Tracker - client/pages/patternLibrary
// =============================================

.patternLibraryPage {
    position: relative;
    padding: 0;
    margin: 0;

    background: $color-mono-xxlight;

    .sidebar {
      background: $color-mono-xxxlight;
      border-radius: 4px;

      > label{
        padding: 10px 25px;
        border-bottom: 1px solid $color-mono-xxlight;
        display: block;
      }

      &-nav {
        border-bottom: 1px solid $color-mono-xxlight;
        background: $color-mono-xxxlight;

        &-link{
          padding: 16px;
          display: block;
          border-bottom: 1px solid $color-mono-xxlight;
        }
      }

      &-megamenu{
        display: block;
        padding: 5px;
      }
    }

    .content{
      background: $color-mono-xxxlight;
      border-radius: 4px;
      padding: 10px 25px;
    }

    .swatch {
        width: 31%;
        padding: 20px 10px;
        vertical-align: top;
        margin-bottom: 8px;
        margin-right: 4px;
        display: inline-block;
        border-radius: 4px;

        @include breakpoint("xlarge-below") {
          padding: 10px;
            height: 60px;
        }

        @include breakpoint("medium-below") {
          padding: 10px;
            height: 80px;
        }

         @include breakpoint("small-below") {
           padding: 10px;
            height: 100px;
        }

        @include breakpoint("xsmall-below") {
            width: 100%;
            height: auto;
        }
    }

    &-icon {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: $base-line-height;
        text-align: center;

        > .icon {
            display: block;
            margin: 10px auto;
        }

        > label {
            font-size: $font-size-base;
            font-weight: $font-weight-light;
        }
    }

    &-table {
        width: 100%;

        td {
            border-bottom: $color-mono-light;

            @include breakpoint("small-below") {
                display: block;
            }
        }
    }
}
