//
// Theme Color Variation
//

$button-primary-color: #646464 !default;
$button-primary-bg: #e7e7e7 !default;
$button-primary-border: #adadad !default;

$button-success-color: #2c666e !default;
$button-success-bg: #d4f6fb !default;
$button-success-border: #35c2d7 !default;

$button-info-color: #0f6a24 !default;
$button-info-bg: #dafcd6 !default;
$button-info-border: #a6fb9f !default;

$button-warning-color: #7b5914 !default;
$button-warning-bg: #fbeed4 !default;
$button-warning-border: #fbdc9f !default;

$button-danger-color: #7e1717 !default;
$button-danger-bg: #fbd4d4 !default;
$button-danger-border: #fb9f9f !default;