// ===========================
// Store - base/themes/default
// ===========================

// Default Colors
$default-color-primary: #e7e7e7 !default;
$default-color-success: #d4f6fb !default;
$default-color-info: #dafcd6 !default;
$default-color-warning: #fbeed4 !default;

$default-color-danger-light: #fbd4d4 !default;
$default-color-danger: #a94442 !default;
$default-color-danger-dark: #a94442 !default;

// theme colors
$color-mono-xxxlight: #ffffff;
$color-mono-xxlight: #e7e7e7;
$color-mono-xlight: #cccccc;
$color-mono-light: #bbbbbb;
$color-mono: #aaaaaa;
$color-mono-dark: #888888;
$color-mono-xdark: #444444;
$color-mono-xxdark: #222222;
$color-mono-xxxdark: #000000;

$theme-color-primary-xxlight: $color-mono-xxlight;
$theme-color-primary-xlight: $color-mono-xlight;
$theme-color-primary-light: $color-mono-light;
$theme-color-primary: $color-mono;
$theme-color-primary-dark:$color-mono-dark;
$theme-color-primary-xdark: $color-mono-xdark;
$theme-color-primary-xxdark: $color-mono-xxdark;

// Font Colors
$font-color-light: $color-mono;
$font-color: $color-mono-dark;
$color-disable: $color-mono;
