// =======================================
// Expense Tracker - shared/themes/default
// =======================================

@import '../../../../store/sass/themes/default';

// @override bootstrap
$gray-light: $color-mono-xlight;

$button-primary-color: #646464 !default;
$button-primary-bg: $default-color-primary;
$button-primary-border: #adadad !default;

$button-success-color: #2c666e !default;
$button-success-bg: $default-color-success;
$button-success-border: #35c2d7 !default;

$button-info-color: #0f6a24 !default;
$button-info-bg: $default-color-info;
$button-info-border: #a6fb9f !default;

$button-warning-color: #7b5914 !default;
$button-warning-bg: $default-color-warning;
$button-warning-border: #fbdc9f !default;

$button-danger-color: $default-color-danger-light;
$button-danger-bg: $default-color-danger;
$button-danger-border: $default-color-danger-dark;

