// ============================
// Store - fonts/expenseTracker
// ============================

@font-face {
    font-family: 'expensetracker';
    src:    url('fonts/expensetracker.eot?hqremo');
    src:    url('fonts/expensetracker.eot?hqremo#iefix') format('embedded-opentype'),
        url('fonts/expensetracker.ttf?hqremo') format('truetype'),
        url('fonts/expensetracker.woff?hqremo') format('woff'),
        url('fonts/expensetracker.svg?hqremo#expensetracker') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'expensetracker' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shape:before {
    content: "\e909";
}
.icon-comment:before {
    content: "\e901";
}
.icon-dollars:before {
    content: "\e902";
}
.icon-information:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e904";
}
.icon-questions:before {
    content: "\e905";
}
.icon-share:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-internet:before {
    content: "\e908";
}

