// =======================================
// Expense Tracker - shared/modules/button
// =======================================

.button {
	   @include border-radius(4px);

		 &-primary {
				background: $theme-color-primary;
				color: $color-mono-xxlight;
		 }

     &:hover{
       color: $color-mono-xxlight;
			background: $theme-color-primary-light;
     }
}
