// ===========================================
// Expense Tracker - shared/modules/form
// ===========================================
// .form{
//     &-group{
//         &--overlap{
//             position: relative;
//
//             > label, &Label{
//                 width: 100%;
//                 pointer-events: none;
//                 position: absolute;
//                 top: 12px;
//
//                 transform: translate3d(0, 0, 0) scale(1);
//                 transform-origin: left top;
//                 transition: transform 0.3s;
//
//             }
//
//             >input[type="text"],
//             >input[type="password"],
//             &Input{
//                 height: 45px;
//             }
//         }
//     }
// }

.form {

  &-group {
    margin-bottom: 15px;

    &--overlap {
      position: relative;

        &label{
        border: 1px solid black;
      }
    }
  }

  &-label {
    display:block;
  }

  &-control {
    width: 100%;
    padding: 5px;
  }

  &-horizontal{
    .form-group{
      margin: 15px 0px;
    }
    .form-label{
      @include calc(width, '20% - 7px');
      float: left;
      padding-right: 7px;
    }

    .form-control {
      width: 80%;
    }
  }
}
