.nav {

  &-default{
    float: left;
  }

  &-right{
    float: right;
  }

  &-link{
    padding: 15px 30px;
    font-size: 16px;

    float: left;
    border-right: 1px solid $color-mono-xxlight;
    letter-spacing: 1px;

    &:hover, &:focus{
      background: $theme-color-primary-dark;
      color: $color-mono-xxxlight;
    }
  }

}
