// ===========================================
// Expense Tracker - shared/modules/textbox
// ===========================================

.textbox {
    @include border-radius(0px);
	@include box-shadow(none);
    
	&--bottomline {
		border: none;
		border-bottom: 1px solid $theme-color-primary-xlight;
		background-color: transparent;
		padding-left: 0;
		
	}
    
    &:focus {
        @include box-shadow(none);
    }
}