// =====================================
// ExpenseTracker - client/states/global
// =====================================

@import '../../../shared/sass/states/global';

.has-error{
    color: #a94442;
    
    /* override bootstrap */
    .textbox{
        @include box-shadow(none);
        &:focus{
            @include box-shadow(none);
        }
    }  
}

.is-overlapped{
    position: relative;
    
    > label{
        top: 13px;
        position: absolute;
        transition: all 0.2s linear;
        pointer-events: none;
    }
    
    >input  {
        height: 45px;
        
        &:focus + label{
            font-size: 12px;
            top: -10px;
        }
        
    }
}