// ======================================
// Input Styles 
// =====================================

input[type="text"]{

	color: $textbox-border;

	border: none;
	border-bottom: 1px solid $textbox-border;
	background-color: transparent;
	padding-left: 0;
	
	@include border-radius(0);
	@include box-shadow(none);

	&:focus {
		@include box-shadow(none);
	}
}

input[type="password"]{
	@extend input[type="text"];
}