// ======================================
// Input Styles 
// =====================================

input[type="text"]{
	border: none;
	border-bottom: 1px solid $textbox-border;
	background-color: transparent;
	border-radius: 0px;
	@include box-shadow(none);

	&:focus {
		@include box-shadow(none);
	}
}

input[type="password"]{
	@extend input[type="text"];
}