// =================================
// Expense Tracker
// =================================

// @override bootstrap variables

// Font Size
$font-size-xs: 12px !default;
$font-size-base: 14px !default;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, !default;

// Brand Colors
$brand-primary: #e7e7e7 !default;
$brand-success: #d4f6fb !default;
$brand-info: #dafcd6 !default;
$brand-warning: #fbeed4 !default;
$brand-danger: #fbd4d4 !default;

// Buttons
// For each of buttons, define text, background and border color.
$btn-primary-color: #646464 !default;
$btn-primary-bg: #e7e7e7 !default;
$btn-primary-border: #adadad !default;

$btn-success-color: #2c666e !default;
$btn-success-bg: #d4f6fb !default;
$btn-success-border: #35c2d7 !default;

$btn-info-color: #0f6a24 !default;
$btn-info-bg: #dafcd6 !default;
$btn-info-border: #a6fb9f !default;

$btn-warning-color: #7b5914 !default;
$btn-warning-bg: #fbeed4 !default;
$btn-warning-border: #fbdc9f !default;

$btn-danger-color: #7e1717 !default;
$btn-danger-bg: #fbd4d4 !default;
$btn-danger-border: #fb9f9f !default;

// Body Background

// Padding

// White Text

// Navbar

//@import bootstrap variables
@import "../library/bootstrap/_variables.scss"