// ===================================
// Expense Tracker - client/themes/sky
// ===================================

@import '../../../shared/sass/themes/default';

$theme-color-primary-xlight: #288ad6;
$theme-color-primary-light: #297CBB;
$theme-color-primary: #1d508d;
$theme-color-primary-dark: #142b44;

$theme-color-primary-red: #fa5e5b;
$theme-color-primary-green: #16c98d;
$theme-color-primary-yella: #feef6d;
$theme-color-primary-orange: #ffc83f;
$theme-color-primary-plum: #bf538d;

$theme-color-body-copy: #3b444f;
