// =================================
// Expense Tracker
// =================================

// @override bootstrap variables
$gray-light: #ccc;
// Font Size
$font-size-xs: 12px !default;
$font-size-base: 14px !default;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, !default;

// Brand Colors
$brand-primary: #e7e7e7 !default;
$brand-success: #d4f6fb !default;
$brand-info: #dafcd6 !default;
$brand-warning: #fbeed4 !default;
$brand-danger: #fbd4d4 !default;

// Buttons
// For each of buttons, define text, background and border color.

$button-font-weight: normal !default;


// Body Background

// Padding

// White Text

// Navbar