@import '../../../shared/sass/themes/default';


$default-background: #106093;

//Gradient
$gradient-dark : #106093;
$gradient-light: #489ad2;

//Input Bottom Border
$textbox-border: #6fb6e7;

/* Text Color Variation */
$text-default: #FFFFFF;
$text-primary: #337ab7;
$text-muted: #5f97bb;