// =====================
// Store - states/global
// =====================

/* pattern-library sidebar menu active*/
.is-active {
    background: $theme-color-primary-light;
    color: lighten($theme-color-primary-light, 100%);
}




