// ==================================
// Expense Tracker - shared/base/core
// ==================================

@import '../../../../store/sass/base/core';

html {
    -ms-overflow-style: scrollbar;
}

body{
	padding: 0;
	margin: 0;

	font-family: $primary-font-family;
	font-size: $font-size-normal;
	line-height: $base-line-height;

  font-weight: normal;
  @include font-smoothing();
}

p {
    font-size: $font-size-normal;
    margin-bottom: $base-line-height;
    padding: 10px 0;
    margin: 0;
}

label {
	font-weight: $font-weight-normal;
}

pre {
    background-color: $color-mono-xdark;
    color: $color-mono-xxlight;
    font-size: $font-size-base;
    white-space: pre-wrap;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}


.icon {
    color: $color-mono-xxxlight;
}

/********************************************************************
***  Override Bootstrap
***  Bootstrap has used important in his class due to which we are loosing flexibility.
*********************************************************************/

@include breakpoint("large-only") {
   ul.navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-header{
        float: none;
    }
}

@include breakpoint("large-below") {
    .navbar-collapse{
        padding-left: 0px;
        padding-right: 0px;
    }
}
