// ====================
// Store - modules/icon
// ====================

.icon {
	width: 24px;
	height: 24px;
	color: $color-mono-xxxdark;
	font-size: $font-size-normal;

	&--xxlarge {
		font-size: $font-size-xxlarge;
	}
    
    &--xlarge{
        font-size: $font-size-xlarge;
    } 
    
    &--large{
        font-size: $font-size-large;
    }
}