// ======================
// Store - modules/swatch
// ======================

.swatch {
    padding: 16px;
    background: inherit;
    color: $color-mono-xxxlight;

    &--mono {
        background: $color-mono;
        color: lighten($color-mono, 100%);

        &-xxxlight {
            background: $color-mono-xxxlight;
            color: darken($color-mono-xxxlight, 100%);
        }

        &-xxlight {
            background: $color-mono-xxlight;
            color: darken($color-mono-xxlight, 100%);
        }

        &-xlight {
            background: $color-mono-xlight;
            color: lighten($color-mono-xlight, 100%);
        }

        &-light {
            background: $color-mono-light;
            color: lighten($color-mono-light, 100%);
        }

        &-dark {
            background: $color-mono-dark;
            color: lighten($color-mono-dark, 100%);
        }

        &-xdark {
            background: $color-mono-xdark;
            color: lighten($color-mono-xdark, 100%);
        }

        &-xxdark {
            background: $color-mono-xxdark;
            color: lighten($color-mono-xxdark, 100%);
        }

        &-xxxdark {
            background: $color-mono-xxxdark;
            color: lighten($color-mono-xxxdark, 100%);
        }
    }

    &--primary {
        background: $theme-color-primary;
        color: lighten($theme-color-primary, 100%);

        &-xxlight {
            background: $theme-color-primary-xxlight;
            color: lighten($theme-color-primary-xxlight, 100%);
        }

        &-xlight {
            background: $theme-color-primary-xlight;
            color: lighten($theme-color-primary-xlight, 100%);
        }

        &-light {
            background: $theme-color-primary-light;
            color: lighten($theme-color-primary-light, 100%);
        }

        &-dark {
            background: $theme-color-primary-dark;
            color: lighten($theme-color-primary-dark, 100%);
        }

        &-xdark {
            background: $theme-color-primary-xdark;
            color: lighten($theme-color-primary-xdark, 100%);
        }

        &-xxdark {
            background: $theme-color-primary-xxdark;
            color: lighten($theme-color-primary-xxdark, 100%);
        }

        &-red{
          background: $theme-color-primary-red;
          color: lighten($theme-color-primary-red, 100%);
        }

        &-green{
          background: $theme-color-primary-green;
          color: lighten($theme-color-primary-green, 100%);
        }

        &-yella{
          background: $theme-color-primary-yella;
          color: lighten($theme-color-primary-yella, 100%);
        }

        &-orange{
          background: $theme-color-primary-orange;
          color: lighten($theme-color-primary-orange, 100%);
        }

        &-plum{
          background: $theme-color-primary-plum;
          color: lighten($theme-color-primary-plum, 100%);
        }
    }
    &--body-copy{
      background: $theme-color-body-copy;
      color: lighten($theme-color-body-copy, 100%);
    }
}
