// ==========================
// Store - modules/themePanel
// ==========================

.themePanel{           
    &:before {
        display: block;
        content: attr(data-title);
        font-weight: bold;
        font-size: $font-size-large;
        background: lighten($theme-color-primary-light, 100%);
        line-height: $base-line-height * 2;
     }
     
     &Pallete {
         background: lighten($theme-color-primary-light, 100%);
         >li, &Item {
             list-style: none;
             cursor: pointer;
         }
     }
     
     // States
     &-is-expanded {
         .themePanelPallete {
             display: block !important;
             height: 100%;
         }
     }
}
