// ========================
// Store - modules/typeface
// ========================

.typeface {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.0;
    
    &-xxxlarge{
        font-size: $font-size-xxxlarge;
    }

    &-xxlarge{
        font-size: $font-size-xxlarge;
    }
    
    &-xlarge{
        font-size: $font-size-xlarge;
    }
    
    &-large{
        font-size: $font-size-large;
    }
    
    &-base{
        font-size: $font-size-base;
    }
    
    &-normal{
        font-size: $font-size-normal;
    }
    
    &-small{
        font-size: $font-size-small;
    }
    
    &-xsmall{
        font-size: $font-size-xsmall;
    }
    
    &-xxsmall{
        font-size: $font-size-xxsmall;
    }
}